{% extends "layout.html" %}
{% block body %}
  <h2>Authentication</h2>
  <br>
    Created a shared secret of <text class=bold>{{ auth.shared_secret }}<span>{{ auth.nato_code }}</span></text> for <strong>{{ auth.dest_uid }} ({{ auth.dest_name }})</strong>,
    which expires in <strong>{{ auth.expiry_string }}.</strong>
    <a href="{{ url_for('report') }}?auth_id={{ auth.auth_id }}">
    flag as suspicious</a>
  <br><br>
  <form action="{{ url_for('search') }}" method="POST">
    Search again: <input type="text" name="searchstr" />
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
    <input type="submit" value="Search" />
  </form>

{% endblock %}
