{% extends "layout.html" %}
{% block body %}
  {% if dst_auths | count > 0 %}
    <p>The following people have authenticated you:<br>
    <ul>
    {% for auth in dst_auths %}
      <li><strong>{{ auth.source_uid }} ({{ auth.source_name }})</strong>
      with secret <text class="bold">{{ auth.shared_secret }}<span>{{ auth.nato_code }}</span></text>, which
      expires in <strong>{{ auth.expiry_delta }}</strong>
      <a href="{{ url_for('report') }}?auth_id={{ auth.auth_id }}">flag as suspicious</a>
      {% if not auth.reciprocated %}
        <form action="{{ url_for('authenticate') }}" method="POST">
          <input type="hidden" name="authselect" value={{ auth.source_uid }} />
          <input type="submit" value="Authenticate {{ auth.source_uid }}" />
          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
        </form>
      {% endif %}
      </li><br>
    {% endfor %}
    </ul>
  {% endif %}
  <p>
  {% if src_auths | count > 0 %}
    You have authenticated the following people:<br>
    <ul>
    {% for auth in src_auths %}
      <li><strong>{{ auth.dest_uid }} ({{ auth.dest_name }})</strong> with
      secret <text class=bold>{{auth.shared_secret}}<span>{{auth.nato_code}}</span></text>, which expires in <strong>{{ auth.expiry_delta }}</strong>
      <a href="{{ url_for('report') }}?auth_id={{ auth.auth_id }}">flag as suspicious</a>
      </li><br>
    {% endfor %}
    </ul>
  {% endif %}

  <br>

  <form action="{{ url_for('search') }}" method="POST">
  Search for someone to authenticate:
    <input type="text" name="searchstr" />
    <input type="submit" value="Search" />
    <a href="{{ url_for('help',_anchor='search') }}">Search help</a>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
  </form>

{% endblock %}
