<!doctype html>
<html>
  <head>
    <title>MAH Verification</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div class="page">
      <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='mah-logo.png') }}"></img></a>
      <div class="title">
        <h1><a href="{{ url_for('index') }}">MAH Verification</a></h1>
      </div>
    <div class="metanav">
        &nbsp;
    </div>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }} </p>
    {% endif %}
    {% block body %} {% endblock %}
    </div>
  </body>
</html>
