{% extends "layout.html" %}
{% block body %}
  <h2>Search</h2>

  {% if results|count > 0 %}
    Found {{ results|count }} matching result{% if results|count > 1 %}s{% endif %} when searching for '{{ search }}'.<br>
    <form action="{{ url_for('authenticate') }}" method="POST">
      <table>
        <tr>
          <td colspan=2 align="left"><input type="submit" value="Authenticate"></td>
          <td colspan=5>Please select someone to authenticate from the list below and then click "Authenticate".</td>
        </tr>
        <tr class="bold">
          <td class="web_attr">{{ null }}</td>
          {% for attribute in attribute_names %}
          <td class="web_attr">{{ attribute }}</td>
          {% endfor %}
        </tr>

        {% for user in results %}
          <tr>
            <td class="results">
            <input type="radio" name="authselect" value="{{ user.attributes[0] }}" /></td>
            {% for value in user.attributes %}
              <td class="results"> {{ value }} </td>
            {% endfor %}
            </tr>
        {% endfor %}

        </table>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
    </form>
  {% else %}
    <br>Your search did not find any matches in the staff directory.<br>
  {% endif %}

  <br>
  <form action="{{ url_for('search') }}" method="POST">
    Search again: <input type="text" name="searchstr" />
    <input type="submit" value="Search" />
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
  </form>

{% endblock %}
